$primary-color: #3019B2;
$secondary-color: #F7CA11;
$primary-soft: #3442B5;
$danger-color: #E71837;
$text-dark: #271C47;
$text-body: #3F3F40;
$text-gray: #9F9F9F;
$bg-light: #ffffff;
$bg-muted: #f4f4f4;
$bg-white: #FFFFFF;
$border-color: #dedede;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Work Sans', sans-serif;
$font-highlight: 'Outfit', sans-serif;

$shadow-sm: 0px 4px 11px rgba(0, 0, 0, 0.13);
$shadow-md: 0px 3px 19px rgba(0, 0, 0, 0.22);
$shadow-lg: 0px 8px 16px rgba(57, 48, 19, 0.12);
$shadow-circle: 0px 7px 20px rgba(0, 0, 0, 0.13);

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1280px;
